html {
    background-color: #22447b;
  }
  
body {
  margin: 30px;
  max-height: 100%;
}

.mainContent {
  position: static;
  background-color: rgba(97, 167, 187, 0.458);
  
  min-height: 100px;

  width: 100%;
  height:550px;


  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  padding: 5px;

  overflow: scroll;
}
  
iframe {
  border-width: 0;
  border-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 800px;
  width: 500px;
  align-content:stretch;
}