html {
    background-color: #22447b;
  }
  
  body {
    background-color: rgba(97, 167, 187, 0.458);
    min-width: 90%;
    max-width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
  label:not(.inline) {
    display: block;
  }
  
  .inline {
    width: unset;
  }